---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Om Budhiraja - Developer">
	<main class="min-h-[100vh] flex flex-col items-center justify-center gap-5">
		<h1 class="text-4xl">Setting up</h1>
		<ul role="list" class="flex gap-7" >
			<Card
				href="https://github.com/ombudhiraja"
				title="Github"
			/>
			<Card
				href="https://twitter.com/ombudhiraja"
				title="Twitter"
			/>
			
		</ul>
	</main>
</Layout>


